
<mat-card *ngIf="isPassenger">
    <mat-card-header>Select a Journey </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let journey of journeys">
          <h3 mat-line>
            <!--  <mat-checkbox class="btn-block" (change)="change();updateJourney(journey.id)">{{journey.name}}</mat-checkbox> -->
              <mat-checkbox class="btn-block" (change)="change();updateJourney(journey)">{{journey.name}}</mat-checkbox>
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <!--<button mat-fab color="primary" [routerLink]="['/journey-add']">Add</button> -->
  </mat-card>



  <mat-card *ngIf="!isPassenger">
  <mat-card-header>Journey List</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let journey of journeys">
        <h3 mat-line>
          <a mat-button [routerLink]="['/journey-edit', journey.id]">{{journey.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <button mat-fab color="primary" [routerLink]="['/journey-add']">Add</button>
</mat-card>