<mat-card>
    <mat-card-header>Bus Route List</mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let route of routesWithId">
          <h3 mat-line>
            <!--sending bus company id and route id, route id may be sufficient -->
            <a mat-button [routerLink]="['/route-edit', busCompanyId, route.id]">{{route.name}}</a>
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <button mat-fab color="primary" [routerLink]="['/route-add', busCompanyId]">Add</button>  
  </mat-card>