<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker [latitude]="latitude1" [longitude]="longitude1"></agm-marker>
  <agm-direction [origin]="origin" [destination]="destination"></agm-direction>
  <agm-marker [latitude]="latitude2" [longitude]="longitude2"></agm-marker>
  <agm-marker [latitude]="latitude3" [longitude]="longitude3"></agm-marker>
 
</agm-map>